<header class="site-header"{{#if site.header.bgColor}} style="background-color: {{site.header.bgColor}}"{{/if}}>
  <div class="container header-inner">
    <a href="index.html" class="logo-link">
      {{#if logoUrl}}
        <img src="{{logoUrl}}" alt="{{site.business.name}} - Logo" class="logo" width="180" height="60" loading="eager">
      {{else}}
        <span class="logo-text"{{#if site.header.logoColor}} style="color: {{site.header.logoColor}}"{{/if}}>{{site.business.name}}</span>
      {{/if}}
    </a>
    <a href="{{#if site.header.ctaUrl}}{{site.header.ctaUrl}}{{else}}{{#if site.headerCtaUrl}}{{site.headerCtaUrl}}{{else}}contact.html{{/if}}{{/if}}" class="header-cta"{{#if site.header.ctaBgColor}} style="background-color: {{site.header.ctaBgColor}}{{#if site.header.ctaTextColor}}; color: {{site.header.ctaTextColor}}{{/if}}"{{else}}{{#if site.header.ctaTextColor}} style="color: {{site.header.ctaTextColor}}"{{/if}}{{/if}}>{{#if site.header.ctaText}}{{site.header.ctaText}}{{else}}{{#if site.headerCtaText}}{{site.headerCtaText}}{{else}}Nous contacter{{/if}}{{/if}}</a>
  </div>
</header>
