<section class="section section-cta" data-section="cta-banner">
  <div class="container">
    <div class="cta-rounded {{#if bannerStyle}}{{bannerStyle}}{{else}}dark{{/if}}">
      <p class="cta-text" data-editable="text">{{text}}</p>
      {{#if ctaText}}<a href="{{ctaUrl}}" class="btn btn-accent">{{ctaText}}</a>{{/if}}
    </div>
  </div>
</section>
